#main {
	max-width: 800px;
	margin: 0px auto;
	padding-bottom: 40px;
	text-align: justify;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.profile-pic {
	width: 100px;
	height: 100px;
	border-radius: 60px;
	padding: 5px;
	border:2px gray solid;
}

li details {
	margin-bottom: 1em;
}

li details p {
	margin-bottom: 1em;
}

li p {
	margin-top: 5px;
}

.footnote {
	font-size:small;
}
